@model ToDoList.Models.Task

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Update a task</h4>

        </div>

    </div>
    <form method="post">
        <div class="form-group row">
            <label asp-for="Title" class="col-sm-12 col-md-2 col-form-label">Title</label>
            <div class="col-sm-12 col-md-10">
                <input asp-for="Title" class="form-control" type="text">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-12 col-md-2 col-form-label">Description</label>
            <div class="col-sm-12 col-md-10">
                <textarea asp-for="Description" class="form-control" rows="1" cols="10" type="text">
               </textarea>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Deadline" class="col-sm-12 col-md-2 col-form-label">Deadline</label>
            <div class="col-sm-12 col-md-10">
                <input asp-for="Deadline" class="form-control date-picker" type="text">
                <span asp-validation-for="Deadline" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Status</label>
            <div class="col-sm-12 col-md-10">
                <div>
                    <label asp-for="Completed" class="form-label" for="basic-default-fullname"></label>
                    <input class="CheckBox" asp-for="Completed" accept="image/*">
                </div>

                <div>
                    <label asp-for="InProgress" class="form-label" for="basic-default-fullname"></label>
                    <input class="CheckBox" asp-for="InProgress" accept="image/*">
                </div>

                <span asp-validation-for="InProgress" class="text-danger"></span>
            </div>

        </div>

        <button class="btn btn-primary text-white">Submit</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>

    </form>

</div>





@section Scripts{
    <script>

        $('.CheckBox').on('change', function () {

            $('.CheckBox').not(this).prop('checked', false);

        });

    </script>

    <partial name="_ValidationScriptsPartial" />
}
